In [7]:
USE [master]
GO
ALTER DATABASE [test] SET  SINGLE_USER WITH ROLLBACK IMMEDIATE
GO
USE [master]
GO
DROP DATABASE [test]
GO

/****** Object:  Database [test]    Script Date: 30/11/2019 22:11:40 ******/
CREATE DATABASE [test]

create table tbl

In [10]:
GO
set NOCOUNT on ;
go
use test;
go
drop table if exists  tbl;
go
create table tbl(f1 int , f2 varchar(10))
GO
select * from sys.objects where type='u'

name,object_id,principal_id,schema_id,parent_object_id,type,type_desc,create_date,modify_date,is_ms_shipped,is_published,is_schema_published
tbl,933578364,NULL,1,0,U,USER_TABLE,2019-12-02 22:59:27.970,2019-12-02 22:59:27.970,0,0,0

In [11]:

select * from sys.extended_properties

In [15]:
Use Test;
go

EXEC sys.sp_addextendedproperty @name=N'MS_Description'
, @value=N'Database description for extended property' 
GO
/* table data */
EXEC sys.sp_addextendedproperty @name=N'MS_Description'
, @value=N'test table for document properties.' 
, @level0type=N'SCHEMA',@level0name=N'dbo'
, @level1type=N'TABLE',@level1name=N'tbl'

/* Column Level Properties*/
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description'
 , @value=N'Pf1 document description .'
, @level0type=N'SCHEMA',@level0name=N'dbo'
, @level1type=N'TABLE',@level1name=N'tbl'
 , @level2type=N'COLUMN',@level2name=N'f1'
GO

/* Column Level Properties*/
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description'
 , @value=N'f2 code field .'
, @level0type=N'SCHEMA',@level0name=N'dbo'
, @level1type=N'TABLE',@level1name=N'tbl'
 , @level2type=N'COLUMN',@level2name=N'f2'
GO

: Msg 15233, Level 16, State 1, Procedure sys.sp_addextendedproperty, Line 37
Property cannot be added. Property 'MS_Description' already exists for 'dbo.tbl'.

: Msg 15233, Level 16, State 1, Procedure sys.sp_addextendedproperty, Line 37
Property cannot be added. Property 'MS_Description' already exists for 'dbo.tbl.f1'.

: Msg 15233, Level 16, State 1, Procedure sys.sp_addextendedproperty, Line 37
Property cannot be added. Property 'MS_Description' already exists for 'dbo.tbl.f2'.

In [16]:

select * from sys.extended_properties

class,class_desc,major_id,minor_id,name,value
0,DATABASE,0,0,MS_Description,Database description for extended property
1,OBJECT_OR_COLUMN,933578364,0,MS_Description,test table for document properties.
1,OBJECT_OR_COLUMN,933578364,1,MS_Description,Pf1 document description .
1,OBJECT_OR_COLUMN,933578364,2,MS_Description,f2 code field .

In [17]:
use test
SELECT 
		@@SERVERNAME AS SERVERNAME
		,DB_NAME() AS DatabaseName
		,[ObjectType] = obj.TYPE
		,object_schema_name(C.OBJECT_ID) AS [SchemaName]
		,OBJECT_NAME(c.OBJECT_ID) AS [ObjectName]
		,c.name
		,c.column_id
		,t.name AS datatype
		,c.max_length
		,c.PRECISION
		,c.scale
		,c.collation_name
		,c.is_nullable
		,c.is_identity
		,c.is_computed
		,ic.is_primary_key
		,CAST(ident_col.seed_value AS INT) AS ident_col_seed_value
		,CAST(ident_col.increment_value AS INT) AS ident_col_increment_value
		,object_definition(c.default_object_id) AS Column_Default
		,CAST(p.value AS NVARCHAR(MAX)) AS DocumentationDescription
	FROM sys.columns AS c
	INNER JOIN sys.objects obj
		ON obj.OBJECT_ID = c.OBJECT_ID
	LEFT JOIN sys.types t
		ON t.user_type_id = c.user_type_id
	LEFT JOIN sys.identity_columns ident_col
		ON c.OBJECT_ID = ident_col.OBJECT_ID
			AND c.column_id = ident_col.column_id
	LEFT JOIN (
		SELECT ic.OBJECT_ID
			,ic.column_id
			,is_primary_key
		FROM sys.index_columns ic
		LEFT JOIN sys.indexes AS i
			ON i.OBJECT_ID = ic.OBJECT_ID
				AND i.index_id = ic.index_id
		WHERE is_primary_key = 1
		) ic
		ON ic.OBJECT_ID = c.OBJECT_ID
			AND ic.column_id = c.column_id
	LEFT JOIN sys.extended_properties AS p
		ON p.major_id = c.OBJECT_ID
			AND p.minor_id = c.column_id
			AND p.CLASS = 1
			AND p.name = 'MS_Description'
	WHERE obj.TYPE IN ('U','V')


	UNION ALL -- parameters

	SELECT  
		@@SERVERNAME AS SERVERNAME
		,DB_NAME() AS DatabaseName
		,[objectType] =sp.TYPE

		,object_schema_name(sp.OBJECT_ID) AS [TableSchemaName]
		,OBJECT_NAME(sp.OBJECT_ID) AS [TableName]
		,par.name
		,par.parameter_id
		,t.name AS datatype
		,par.max_length
		,par.PRECISION
		,par.scale
		,NULL AS collation_name
		,0 AS is_nullable
		,0 AS is_identity
		,0 AS is_computed
		,0 AS is_primary_key
		,0 AS ident_col_seed_value 
		,0 AS ident_col_increment_value 
		,NULL AS Column_Default 
		,CAST(p.value AS NVARCHAR(MAX) ) AS DocumentationDescription
	FROM
	sys.all_objects AS sp
	INNER JOIN sys.PARAMETERS par ON sp.OBJECT_ID = par.OBJECT_ID
	LEFT JOIN sys.types t ON t.user_type_id = par.user_type_id
	LEFT JOIN sys.extended_properties AS p ON p.major_id=sp.OBJECT_ID AND p.CLASS=2
			AND p.minor_id = par.parameter_id
			AND p.name =  'MS_Description'
	WHERE par.name!=''
	
	UNION ALL

	SELECT 
		@@SERVERNAME AS SERVERNAME
		,DB_NAME() AS DatabaseName
		,[ObjectType] = 'TT'
		,schema_name(tt.schema_id)  AS [SchemaName]
		,tt.name AS OBJECTName
		,c.name
		,c.column_id
		,t.name AS datatype
		,c.max_length
		,c.PRECISION
		,c.scale
		,c.collation_name
		,NULL AS is_nullable
		,NULL AS is_identity
		,NULL AS is_computed
		,NULL AS is_primary_key
		,NULL AS ident_col_seed_value
		,NULL AS ident_col_increment_value
		,NULL AS Column_Default
		,CAST(p.value AS NVARCHAR(MAX)) AS DocumentationDescription
	FROM sys.table_types tt
	INNER JOIN sys.columns c
		ON c.object_id = tt.type_table_object_id
	LEFT JOIN sys.types t
		ON t.user_type_id = c.user_type_id
	LEFT JOIN sys.extended_properties AS p
		ON p.major_id = c.OBJECT_ID
			AND p.minor_id = c.column_id
			AND p.CLASS = 1
			AND p.name = 'MS_Description'

	;

SERVERNAME,DatabaseName,ObjectType,SchemaName,ObjectName,name,column_id,datatype,max_length,PRECISION,scale,collation_name,is_nullable,is_identity,is_computed,is_primary_key,ident_col_seed_value,ident_col_increment_value,Column_Default,DocumentationDescription
DESKTOP-LIPD7H3,test,U,dbo,tbl,f1,1,int,4,10,0,NULL,1,0,0,NULL,NULL,NULL,NULL,Pf1 document description .
DESKTOP-LIPD7H3,test,U,dbo,tbl,f2,2,varchar,10,0,0,Latin1_General_CI_AS,1,0,0,NULL,NULL,NULL,NULL,f2 code field .